* {
    border: none;
    border-radius: 0px;
    font-family: "MesloLGS Nerd Font", monospace;
    font-size: 12px;
    min-height: 0px;
}

window#waybar {
    background: transparent;
}

#custom-logo {
    background-color: rgb(137, 180, 250);
    padding: 0px 4px 0px 12px;
    background-image: url('/home/sina/.config/waybar/logo/gentoo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
}

#custom-sep-right-play-blue {
    background-color: rgb(243, 139, 168);
    color: rgb(137, 180, 250);
    font-size: 18px;
}

#workspaces {
    background-color: rgb(137, 180, 250);
    color: rgb(17, 17, 27);
    font-size: 12px;
}

#workspaces button.active {
    background-color: rgb(243, 139, 168);
    color: rgb(17, 17, 27);
    font-size: 12px; 
}

#custom-sep-right-K-red {
    background-color: transparent;
    color: rgb(243, 139, 168);
    font-size: 18px;
}

#custom-hyprland_window_scroll {
    background-color: transparent;
    font-family: "BlexMono Nerd Font", monospace;
    font-size: 12px;
    color: rgb(205, 214, 244);
    padding: 0px 4px;
}

#custom-sep-left-play-blue {
    background-color: transparent;
    color: rgb(137, 180, 250);
    font-size: 18px;
}

#custom-sep-right-slash-blue {
    background-color: transparent;
    color: rgb(137, 180, 250);
    font-size: 18px;
}

#custom-sep-left-slash-blue {
    background-color: transparent;
    color: rgb(137, 180, 250);
    font-size: 18px;
}

#clock {
    background-color: rgb(137, 180, 250);
    color: rgb(17, 17, 27);
    font-weight: bold;
    padding: 0px 12px;
    min-width: 24px;   
}

