/* catppuccin mocha */
@define-color rosewater rgb(245, 224, 220);
@define-color flamingo rgb(242, 205, 205);
@define-color pink rgb(245, 194, 231);
@define-color mauve rgb(203, 166, 247);
@define-color red rgb(243, 139, 168);
@define-color maroon rgb(235, 160, 172);
@define-color peach rgb(250, 179, 135);
@define-color yellow rgb(249, 226, 175);
@define-color green rgb(166, 227, 161);
@define-color teal rgb(148, 226, 213);
@define-color sky rgb(137, 220, 235);
@define-color sapphire rgb(116, 199, 236);
@define-color blue rgb(137, 180, 250);
@define-color lavender rgb(180, 190, 254);
@define-color text rgb(205, 214, 244);
@define-color subtext1 rgb(186, 194, 222);
@define-color subtext0 rgb(166, 173, 200);
@define-color overlay2 rgb(147, 153, 178);
@define-color overlay1 rgb(127, 132, 156);
@define-color overlay0 rgb(108, 112, 134);
@define-color surface2 rgb(88, 91, 112);
@define-color surface1 rgb(69, 71, 90);
@define-color surface0 rgb(49, 50, 68);
@define-color base rgb(30, 30, 46);
@define-color mantle rgb(24, 24, 37);
@define-color crust rgb(17, 17, 27);
/* GENTOO */
@define-color gentoo-purple rgb(84, 72, 122);
@define-color gentoo-purple-light rgb(97, 83, 141);
@define-color gentoo-purple-light2 rgb(110, 86, 175);
@define-color gentoo-grey rgb(221, 218, 236);
@define-color gentoo-grey-2 rgb(221, 223, 255);
@define-color gentoo-green rgb(115, 210, 22);
@define-color gentoo-red rgb(217, 83, 79);
@define-color gentoo-body-bg rgb(250, 250, 250);
@define-color gentoo-footer-bg rgb(225, 225, 225);
@define-color gentoo-tip-bg rgb(223, 240, 216);
@define-color gentoo-important-bg rgb(252, 248, 227);
@define-color gentoo-warning-bg rgb(242, 222, 222);
@define-color gentoo-note-bg rgb(217, 237, 247);

* {
    border: none;
    border-radius: 0px;
    font-family: "MesloLGS Nerd Font", monospace;
    min-height: 0px;
}

window#waybar {
    background: transparent;
}

#custom-logo {
    background-color: @blue;
    padding: 0px 4px 0px 12px;
    background-image: url('/home/sina/.config/waybar/logo/gentoo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 22px;
}

#workspaces {
    background-color: @blue;
    color: @crust;
    font-size: 12px;
}

#workspaces button.active {
    background-color: @red;
    color: @crust;
    font-size: 12px;
}

#custom-hyprland_window_scroll {
    background-color: @red;
    font-family: "BlexMono Nerd Font", monospace;
    font-size: 12px;
    color: @crust;
    padding: 0px 4px;
    /*    animation: text-blink 1s infinite alternate; */
}

#tray {
    background-color: @blue;
    color: @crust;
    border: none;
    padding: 0px 8px;
    margin: 0px;
    box-shadow: inset -2px 0 0 0 @red;
}

#tray menu {
    background-color: @base;
    color: @text;
    border: 1px solid @overlay0;
    border-radius: 6px;
    padding: 4px 6px;
}

#tray>.passive {
    -gtk-icon-effect: dim;
    opacity: 0.6;
}

#tray>.active {
    background-color: transparent;
    color: @text;
    opacity: 1;
}

#tray>.needs-attention {
    background-color: @red;
    color: @crust;
    border-radius: 4px;
    animation: blink 1s infinite alternate;
}

@keyframes blink {
    from {
        background-color: @red;
    }

    to {
        background-color: @mauve;
    }
}

@keyframes text-blink {
    from {
        color: @crust;
    }

    to {
        color: @text;
        text-shadow:
            -0.25px -0.25px 0 @crust,
            0.25px -0.25px 0 @crust,
            -0.25px 0.25px 0 @crust,
            0.25px 0.25px 0 @crust,
            -0.375px 0px 0 @crust,
            0.375px 0px 0 @crust,
            0px -0.375px 0 @crust,
            0px 0.375px 0 @crust;
    }
}

#network {
    background-color: @blue;
    color: @crust;
    padding: 0px 6px;
    font-size: 8px;
    font-weight: 600;
    border: none;
    transition: background-color 0.2s ease-in-out;
}

#wireplumber,
#network {
    background-color: @blue;
    color: @crust;
    padding: 0px 6px;
    font-size: 8px;
    font-weight: 600;
    border: none;
    transition: background-color 0.2s ease-in-out;
}


#wireplumber:hover,
#network:hover {
    background-color: mix(@blue, @mauve, 0.4);
}

#wireplumber.muted {
    background-color: @overlay1;
    color: @base;
    text-decoration: line-through;
}

#wireplumber#source {
    background-color: @mauve;
    color: @crust;
    padding: 0px 6px;
    font-size: 8px;
    font-weight: 600;
}

#wireplumber#source:hover {
    background-color: mix(@mauve, @pink, 0.5);
}

#wireplumber.source-muted {
    background-color: @overlay1;
    color: @base;
    text-decoration: line-through;
}

#network.disconnected {
    background-color: @overlay1;
    color: @base;
    text-decoration: line-through;
}

#clock {
    background-color: @blue;
    color: @crust;
    font-weight: bold;
    padding: 0px 12px;
    min-width: 24px;
}

#custom-sep-right-triangle-blue {
    background-color: @red;
    color: @blue;
    font-size: 18px;
}

#custom-sep-right-triangle-red {
    color: @red;
    font-size: 18px;
}

#custom-sep-right-k-red {
    background-color: transparent;
    color: @red;
    font-size: 18px;
    box-shadow: inset 0 -1px 0 0 @red;
}

#custom-sep-right-k-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
    box-shadow: inset 0 -1px 0 0 @blue;
}

#custom-sep-left-k-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
    box-shadow: inset 0 -1px 0 0 @blue;
}

#custom-sep-right-shift-red {
    background-color: transparent;
    color: @red;
    font-size: 18px;
}

#custom-sep-left-shiftplay-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
}

#custom-sep-left-shift-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
}

#custom-sep-right-slash-red {
    background-color: transparent;
    color: @red;
    font-size: 18px;
}

#custom-sep-right-slash-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
}

#custom-sep-right-slash-blue-redbg {
    background-color: @red;
    color: @blue;
    font-size: 18px;
}

#custom-sep-left-slash-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
}

#custom-sep-right-inv-slash-red {
    background-color: transparent;
    color: @red;
    font-size: 18px;
    margin-bottom: -3px;
}

#custom-sep-right-single-slash-blue {
    background-color: transparent;
    color: @blue;
    font-size: 18px;
}

#custom-sep-space-red {
    background-color: @red;
    font-size: 18px;
}
